* {
	font-family: arial;
	outline: none;    /* oramovani pri kliknuti */
  text-decoration: none;
}

html, body {
 	margin: 0;
 	padding: 0;
	width: 100%;
	height: 100%;  
}

img {
  border: 0;
}

#web_position {
  margin: 0px auto 0px auto;
}

#web_header {     
    display: none;
}
#web_header span{
visibility: hidden;
}

#web_header a{
height: 112px;
display: block;
background-image: url('../images/header_admin.png');
background-repeat: no-repeat;
}

#web_menu {
display: none;
}

#web_left {         
 display: none;  
} 
#web_right {        

  padding: 10px;
  text-align: left; 
  font-size: 14px; 
}

#web_right form.edit_form p{
    margin: 0px;  
}

#web_right form.edit_form label{
   width:100px;
   float:left;
}

#web_right form.edit_form input, select{
   width:250px;
}


.left_box {
  color: white; 
  position: relative;
  background-color: #AB2126;           
  margin: 10px 10px 10px 10px; 
  padding: 10px; 
  border-radius: 10px;
}
