* {
	font-family: arial;
	outline: none;    /* oramovani pri kliknuti */
  text-decoration: none;
}

html, body {
 	margin: 0;
 	padding: 0;
	width: 100%;
	height: 100%;  
}

img {
  border: 0;
}

#web_position {
  margin: 0px auto 0px auto;
}

#web_header {       
  height: 112px;
}
#web_header span{
visibility: hidden;
}

#web_header a{
height: 112px;
display: block;
background-image: url('../images/header_admin.png');
background-repeat: no-repeat;
}

#web_menu {
min-height: 25px;  
  background-color: #AB2126;  
  text-align: left;
  margin-right: 50px;
  display: block;
  padding: 1px 0px 1px 0px;
  border-radius: 0px 5px 5px 0px;
}

    #web_menu ul{
    padding: 0px 0px 0px 230px;
    margin: 0px;   
    }
    
    #web_menu li{
    list-style-type: none;
    display: inline;
    border-right: solid 1px #FFFFFF; 
    }
    
    #web_menu a{
    padding: 0px 40px 0px 40px;
    vertical-align: middle;
    font-style: italic;
    color: #FFFFFF;
    text-decoration: none;
    }
#web_page {                 
}

#web_left {         
  width: 230px;
  float: left;    
} 
#web_right {        
  min-width: 600px;
  margin: 0px 0px 0px 230px;   
  padding: 10px;
  text-align: left; 
  font-size: 14px; 
}

#web_right form.edit_form p{
    margin: 0px;  
}

#web_right form.edit_form label{
   width:150px;
   float:left;
}

#web_right form.edit_form input, select{
   width:250px;
}

#web_right form.complete_form p{
    margin: 0px;  
}

#web_right form.complete_form label{
   width:200px;
   float:left;
}

#web_right form.new_order_form p{
    margin: 0px;  
}

#web_right form.new_order_form label{
   width:400px;
   float:left;
}
#web_right table {
    border-left-style:none;
    border-bottom-style:none;
    
}
#web_right td {
    border-right-style: none;
    border-top-style: none;
    text-align: center; 
    padding-left: 10px;
    padding-right: 10px;
}
#web_right th {
    border-right-style: none;
    border-top-style: none;
    text-align: center; 
    padding-left: 10px;
    padding-right: 10px;
}

#web_right p.order{
    width: 800px;
    border-bottom-style: double;
    border-bottom-width: 1px;
}
#web_right span.order{
    font-weight: bold;
}

#web_right li{
    list-style-position: inside;
}



.left_box {
  color: white; 
  position: relative;
  background-color: #AB2126;           
  margin: 10px 10px 10px 10px; 
  padding: 10px; 
  border-radius: 10px;
}

.left_box a{
  color: white;
  display: block;
}

.left_box a:hover{
  text-decoration: underline;
}

.deleted{
  border-color: #808080;
  color: #808080;
  text-decoration: line-through;
}

.duly{
  font-weight: bold;
}

table.invoice td.notready{
    background-color: red;
}